<!--Criando uma navbar no topo da página-->
<nav class="navbar navbar-light bg-dark">
    <!--Navbar-brand alinha a imagem à esquerda da navbar-->
    <a class = "navbar-brand"  href="/">
        <img src="/img/guia.png">
    </a>
</nav>